/* AboutPage.css */
.about-page {
  padding: 30px;
  text-align: left;
  background-color: #e6f7ff;
  color: #555;
}

.about-page-content {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 25px;
}

ul {
  list-style-type: square;
  margin-bottom: 25px;
}

li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}
